@import url('./assets/fonts/satoshi.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  font-family: "Satoshi", sans-serif;
}